{{>header}}

	<h1 class="ui blue header">Accueil</h1>
	

	<h2 class="ui blue header">Bonjour {{user.identity}}</h2>
	<h4 class="ui blue header">Votre email est : {{user.email}}</h4>
	<table class="ui celled table">
  <thead>
    <tr><th>Titre</th>
    <th>Description</th>
    <th>Content</th>
    <th>Date de Création</th>
    <th>Actions</th>
  </tr></thead>
  <tbody>
  {{#scripts}}
    <tr>
      <td data-label="Titre">{{title}}</td>
      <td data-label="Description">{{description}}</td>
      <td data-label="Content">{{content}}</td>
      <td data-label="Date de Création">{{creationDate}}</td>
      <td data-label="Actions" style="text-align:center">
		<button class="circular ui icon button">
  			<i class="edit icon"></i>
		</button>
		<button class="circular ui icon button">
  			<i class="trash alternate icon"></i>
		</button>
	  </td>
    </tr>
    {{/scripts}}
  </tbody>
</table>

	<a href="/script/new" >
		<button class="ui primary button">
  			<i class="plus icon"></i>
		</button>
	</a>

	<a href="/logout" >
		<button class="ui secondary button">
  			Déconnexion
		</button>
	</a>
	
	
{{>footer}}