{{>header}}
{{>index}}
<div class="ui form">
  <div class="three fields">
    <div class="field">
      <label>Titre</label>
      <input type="text" name ="Titre" placeholder="Titre">
    </div>
    <div class="field">
      <label>Contenu</label>
      <input type="text" name ="Contenu" placeholder="Contenu">
    </div>
    <div class="field">
      <label>Date de Création</label>
      <input type="text" name ="Date de Creation" placeholder="Date de Création">
    </div>
  </div>
    <div class="field">
   	 <label>Description</label>
    	<textarea rows="2"></textarea>
  	</div>
</div>
	</br>
	<a href="/index">
		<button class="ui primary button">
  			Ajouter
		</button>
	</a>
	<a href="/index" >
		<button class="ui button">
  			Annuler
		</button>
	</a>
{{>footer}}